.pd-section {
    padding-top: calc(52px - var(--gutter));
    padding-bottom: calc(52px - var(--gutter));
}

.mg-bt-40 {
    margin-bottom: calc(40px - var(--gutter) * 2);
}

.mg-bt-30 {
    margin-bottom: calc(2 * var(--gutter));
}

.object-fit-cover {
    object-fit: cover;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.d-block {
    display: block;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.text-center {
    text-align: center;
}


@media (min-width: 576px){

}

@media (min-width: 768px){
 
}

@media (min-width: 992px) {
    
}

@media (min-width: 1024px) {
    .pd-section {
        padding-top: calc(88px - var(--gutter));
        padding-bottom: calc(88px - var(--gutter));
    }

    .mg-bt-40 {
        margin-bottom: 0px;
    }

    .xl-none {
        display: none;
    }
}

@media (min-width: 1200px) {
   
}