:root {
    --gutter: calc(15px);
    --white: #FFFFFF;
    --red-bg: #7E0306;
    --yellow-dark: #FCAF67;
    --orange-dark: #FA8744;
    --pink-light: #F2E8DF;
    --gray: #333333;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    line-height: 1.45;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: var(--gray);
}

.heading {
    font-family: 'Jost', sans-serif;
}

.heading-1 {
    font-family: 'Trirong', sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.2;
}

.heading-2 {
    font-family: 'Trirong', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.445;
}

.btn {
    padding: 8px 16px;
    background-color: var(--orange-dark);
}

/* === banner === */
.banner {
    flex-wrap: wrap;
} 



.banner__content {
    position: relative;
    background-color: var(--red-bg);
}

.banner__container {
    padding: 160px 0px;
    z-index: 1;
}

.banner__heading {
    color: var(--pink-light);
    margin: 0;
}

.banner__context {
    margin-top: 8px;
    color: var(--pink-light);
    margin: 0;
}

.banner__btn {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    color: var(--red-bg);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 24px;
}

.banner__image {

}

.image-top {
    position: absolute;
    top: 0;
    left: 30px;
}

.image-bottom {
    position: absolute;
    bottom: 0;
    right: 30px;
}


/* === feature === */
.feature__item {

}

.feature__item h3 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.445;
    color: var(--red-bg);
}

.feature__item p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.445;
    color: var(--gray);
}


