/* === Responsive === */
@media (min-width: 576px){

}

@media (min-width: 768px){
 
}

@media (min-width: 992px) {
    
}

@media (min-width: 1024px) {
    :root {
        --gutter: 15px;
    }

    /* font */
    .heading-1 {
        font-size: 7.2rem;
    }
    
    .heading-2 {
        font-size: 5.6rem;
    }

    .heading-3 {
        font-size: 2.4rem;
    }

    .heading-4 {
        font-size: 2rem;
    }

    .heading-5 {
        font-size: 1.8rem;
    }

    /* banner */
    .banner__container {
        padding: 160px 200px 160px var(--gutter);
        z-index: 1;
    }

    .banner__heading {
        margin-bottom: 16px;
    }

    .banner__context {
        margin-top: 16px;
        font-size: 2rem;
        line-height: 1.6;
    }

    .btn {
        padding: 16px 32px;
        font-size: 1.8rem;
    }

    .banner__btn {
        margin-top: 60px;
    }

    /* feature */
    .feature__item h3 {
        margin-top: 24px;
    }

    /* collection */
    .section__heading {
        padding-bottom: calc(60px - var(--gutter) * 1) !important;
    }

    .section__heading h3 {
        margin-top: 8px;
    }

    .image-list__text {
        font-size: 2.4rem;
    }

    /* product-list */
    .btn__color {
        margin-right: 4px;
    }

    .product__item h3{
        margin-top: 24px;
    }

    .product__colors {
        margin: 16px 0;
    }

    .product__price--old {
        font-size: 1.8rem;
    }

    .product__price--new {
        font-weight: 600;
    }

    .product__btn {
        margin-top: 24px;
        margin-bottom: 0;
    }

    /* generic content */
    .generic-content__context {
        padding: 100px 48px;
    }

    .generic-content__heading {
        font-size: 2.4rem;
    }

    .generic-content__reverse {
        flex-direction: row-reverse;
    }

    /* voucher-list */
    .voucher-list {
        margin-top: calc(88px - var(--gutter));
    }

    .voucher-list__container .voucher-list__pattern {
        padding: 29px;
    }
    
    .voucher-list__content {
        font-size: 4.8rem;
        max-width: 115px;
    }

    /* product sale */
    .timeout {
        margin-top: 36px;
    }

    .timeout__item {
        margin-inline: calc(21px / 2);
    }

    .timeout__box {
        padding: 16px 26.5px;
        font-size: 2.4rem;
    }

    .product__sale {
        top: calc(16px + var(--gutter));
        left: calc(16px + var(--gutter));
        font-size: 1.4rem;
        padding: 4px 8px;
    }

    /* customer feedback */
    .customer-feedback {
        margin-top: calc(60px - var(--gutter));
    }

    .customer-feedback ul li {
        flex-direction: row;
        min-width: 55%;
    }

    .customer-feedback__content {
        padding: 42px 32px;
    }

    .customer-feedback__date {
        font-size: 1.2rem;
    }
    
    .customer-feedback__text {
        padding-top: 12px;
        font-size: 1.8rem;
    }
    
    .customer-feedback__evaluate {
        padding-top: 12px;
    }
    
    .customer-feedback__name {
        padding-top: 12px;
        font-size: 2rem;
    }

    .customer-feedback ol li a {
        height: 15px;
        width: 15px;
        padding: 0 4px;
    }

    /* footer */
    .footer__content .banner__context {
        font-size: 2.4rem;
        margin-top: 8px;
    }

    .footer__subscribe {
        margin-top: 60px;
    }

    .footer__subscribe input{
        padding: 16px 32px;
        margin-right: 24px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;
    }
    
    .footer__subscribe button {
        color: var(--red-bg);
        font-size: 1.8rem;
    }

}

@media (min-width: 1200px) {
   
}